<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CubeInStore</title>
    <!-- Required CSS modules -->
    <link rel="icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.4/dist/vuetify.min.css" rel="stylesheet" />
    <link href="styles.css?2306271408" rel="stylesheet" />
  </head>
  <body>
    <v-app id="app" v-cloak>
      <v-container class="app-container">
        <v-row no-gutters>
          <v-col cols="6">
            <h1>CubeInStore</h1>
          </v-col>
          <v-col cols="6" class="text-right">
            <strong>{{ requester }}</strong><br />
            Support tickets
          </v-col>
        </v-row>
        <div class="mt-3">
          <h2 class="mt-4 mb-1 font-weight-bold primary--text">Tickets</h2>
          <v-divider class="pt-2"></v-divider>
          <template v-if="!loading.tickets">
            <v-simple-table dense>
              <template v-slot:default>
                <thead>
                  <th>ID</th>
                  <th>Subject</th>
                  <th class="text-center">Created at</th>
                  <th class="text-center">Updated at</th>
                  <th class="text-center">Status</th>
                </thead>
                <tbody>
                  <template v-if="tickets.length">
                    <tr v-for="(ticket, tIndex) in tickets" :key="`ticket-${tIndex}`">
                      <td>#{{ ticket.id }}</td>
                      <td>
                        <a href="#" @click.prevent="showComments(ticket.id, { loading: true })">{{ ticket.subject }}</a>
                        <v-progress-circular
                          v-if="loading.comments == ticket.id"
                          class="ml-1"
                          size="15"
                          width="2"
                          color="grey"
                          indeterminate
                        ></v-progress-circular>
                      </td>
                      <td class="text-center">{{ dateToString(ticket.created_at) }}</td>
                      <td class="text-center">{{ dateToString(ticket.updated_at) }}</td>
                      <td class="text-center">
                        <v-chip
                          :color="ticketStatus(ticket.status).color"
                          class="item-status"
                          :style="`color: ${ticketStatus(ticket.status).text}`"
                          label
                          x-small
                        >
                          {{ ticketStatus(ticket.status).name }}
                        </v-chip>
                      </td>
                    </tr>
                  </template>
                  <tr v-else>
                    <td colspan="5" class="text-center py-2">
                      <v-img height="100" src="404.svg" contain></v-img>
                      <p>This user has no open tickets at the moment.</p>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </template>
          <v-skeleton-loader v-else width="100%" type="table-tbody"></v-skeleton-loader>
        </div>
      </v-container>

      <!-- Latest comments dialog -->
      <v-dialog v-model="showingLatestComments" width="550">
        <template v-slot:activator="{ on, attrs }">
          <slot :on="on" :attrs="attrs"></slot>
        </template>
        <v-card>
          <v-card-title class="headline grey lighten-2 title" primary-title>Ticket #{{ selectedTicket }}</v-card-title>
          <v-card-text class="pt-4">
            <h2 class="mb-1 font-weight-bold primary--text">New comment</h2>
            <v-divider class="pt-2"></v-divider>
            <v-textarea
              v-model="newComment"
              label="Comment"
              dense
              flat
              outlined
              hide-details
              rows="3"
              autocomplete="off"
              :disabled="loading.newComment"
            ></v-textarea>
            <v-btn
              class="mt-2"
              color="primary"
              depressed
              block
              @click="createComment"
              :disabled="!newComment"
              :loading="loading.newComment"
            >
              Create comment
            </v-btn>
            <h2 class="mt-4 mb-1 font-weight-bold primary--text">Latest comments ({{ latestComments.length }})</h2>
            <v-divider class="pt-2"></v-divider>
            <template v-for="(comment, cIndex) in latestComments">
              <v-simple-table :class="{ 'mt-2': cIndex > 0 }" dense>
                <template v-slot:default>
                  <thead>
                    <th class="text-left">
                      Author: {{ ticketUsers.find((obj) => obj.id === comment.author_id).name }}
                    </th>
                    <th class="text-right">{{ dateToString(comment.created_at) }}</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2" v-html="comment.html_body"></td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </template>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-app>

    <!-- Required JS modules -->
    <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.4/dist/vuetify.min.js"></script>
    <script src="app.js?2306271408"></script>
  </body>
</html>
